body {
    background-color: #222831;
    color: aliceblue;
}


nav {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding: 20px 80px;
} 
.page{
    color:aliceblue ;

}
.page:hover{
   opacity: 0;
}
nav a {
    margin: 20px;
    color: aliceblue;
text-decoration: none;
}
.content {
   display: flex;
   justify-content: space-around;
  height: 100vh;
}
.small-text {
    font-size: 44px;
    margin: 20px;
    width: 300px;
    font-weight: 800;
    font-size: 64px;
   
    font-family: 'Roboto', sans-serif;
}
.content button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 24px;
    color:white ;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}
.blue-btn {
    background-color: rgb(26, 225, 240);

}
.blue-btn:hover {
    background-color:green ;
    transform: scale(2) translateX(100px);
    transition: 1s;
}
.grey-btn {
    background-color: bisque;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.grey-btn:hover{
    animation-play-state: running;
}
@keyframes moveRight { 
    0% {
        background-color: grey;
        transform: translateX(0);
    }
    50% {
        background-color: forestgreen;
    }
    100% {
        background-color: red;
        transform: translateX(500px);
        opacity: 1;
    }}
.pre-footer {
    height: 100vh;
    margin-left: 120px;
}
.pre-footer img {
    margin-right: 40px;
}
.big-text {
    font-size: 64px;
    font-weight: 800
    ;
    font-family: 'Roboto', sans-serif;
  
}
.blue-text {
color: aqua;
}
.grey-text {
    width: 350px;
    font-weight: 400;
    color: bisque;
}
#white-text {
    color: white;
}
.text {
    width: 400px;
    height: 135px;
    font-family: 'Poppins', sans-serif;
    
}
.content:nth-last-child(1 of .content) {
    align-items: start;
}
.blue-button {
    color: aliceblue;
    background-color: #00ADB5;
    font-family: 'Poppins', sans-serif;
    
}
.blue-button:hover {
    animation-timing-function: ease;
   animation-name: pulsing;
   animation-duration: 3s;
}
@keyframes pulsing {
0% {
    background-color:#00ADB5 ;
}
50% {
    background-color: rgb(37, 56, 50);
}
100% {
    opacity: 0;
}
}
.content:nth-last-child(1 of .content) img {
    width: 250px;
}
#inner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 550px;
}

.button {
    margin: 30px 0 px;
}
.buttons button {
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #393E4680;
}
.buttons button:first-child{
    background-color: #00ADB5;
}
.buttons button:hover {
    opacity: 0.5;
    transition: 0.5s;
}
.button2 {
   list-style: none;
   padding-right: 0;
   display: flex;
   gap: 20px;
   font-family: 'Poppins', sans-serif;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 100vh;
   text-align: center;
   text-decoration: none;
   color: white;
   font-size: 18px;
}
.social {
    margin: 20px 0 ;
    display: flex;
    gap: 15px;
}
.social a {
    color: white;
    font-size: 24px;
}
.footer-links {
    font-size: 14px;

}
.footer-links a {
    color: gray;
    text-decoration: none;
}
